*
{
	font-family:Arial, Helvetica, Sans-serif;
	font-size:13px;
}

#map
{
    width:600px;
    height:600px;
}

#map #result
{
    width:320px;
}

#map #result .smlPhoto img
{
    float:left;
    margin-right:10px;
	border:none;
}

#map #result .useAddress, #map #result .sa1, #map #result .sa2, #map #result .town, #map #result .city, #map #result .county, #map #result .country, #map #result .postcode
{
    font-weight:bold;
}

#map #result .price
{
    padding-bottom:5px;
    font-weight:bold;
}

#map #result .summary 
{
    text-align:left;
	font-size:12px;
}

#map #result .moredetails a
{
    background-color:#11719f;
    color:#fff;
    text-decoration:none;
    font-weight:bold;
    display:inline-block;
    padding:5px 10px 5px 10px;
    margin:5px 0 0 0;
    font-size:11px;
}
#map #result  .moredetails a:hover
{
    background-color:#8c94ac;
}
.status
{
    position:absolute;
    margin:5px; 
    padding:5px 8px; 
    background-color:#1C8CB5; 
    color:#fff;
    font-weight:bold; 
    text-transform:uppercase;
}

.status_small
{
    position:absolute;
    margin:3px; 
    padding:2px 4px; 
    background-color:#1C8CB5; 
    color:#fff;
    font-weight:bold; 
    text-transform:uppercase;
    font-size:10px;
}

a .status, a .status_small 
{
	text-decoration:none;
}